* {
    margin: 0;
    padding: 0;
}

//navigatiebalk
header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 151px;
    color: #E4C6BE;
    background-color: #4B483D;
    justify-content: space-between;
    align-items: flex-end;
}
.name{
    width: 50%;
    font-size: 4rem;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 30px;
    padding-bottom: 10px; 
    
    li{
        list-style-type: none;
        margin-left: 60px;
        }
    a:link {
        color: #E4C6BE;
        text-decoration: none;
        }
    a:hover {
        color: hotpink;
        }
}

//middle of the page

.columns{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.line-column{
    display: flex;
    flex-direction: column;
    width: 28%;
    height: 100%;
    border-right: 1px solid #E4C6BE;
}

.title-katrien{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70%;
    height: 100px;
    justify-content: center;
    font-size: 4rem;
    p{
        font-size: 1rem;
        text-align: left;
        margin-top:50px;
        margin-right: 20px;
        border-left: 2px solid #E4C6BE;
        padding:20px;
    }
}

