//middle of the page

.columns{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-image: url("../img/pen-photo.jpeg");
    background-position: center;
    background-size: cover; 
}
.cv-link{
    background-color: $header-bcgr;
    padding: 15px;
}
.line-column{
    display: flex;
    flex-direction: column;
    width: 28%;
    height: 100%;
    border-right: 1px solid $border;
}

.title-katrien{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70%;
    justify-content: center;
    font-size: 4rem;
    color:$color-xl-text;
    font-family: $font-btn;
    p{
        font-size: 1rem;
        text-align: left;
        margin-top:50px;
        margin-right: 20px;
        border-left: 2px solid $border;
        padding:20px;
        color: $color-m-text;
        font-family: $font-text;
    }
}

