.columns-contact{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-image: url("../img/keyboard-photo.jpeg");
    background-position: center;
    background-size: cover;
   
 }
.line-column-contact{
    display: flex;
    flex-direction: column;
    width: 28%;
    height: 400px;  
}
 .title-contact{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    font-size: 1rem;
     p{
        font-size: 1rem;
        text-align: center;
        color: $color-m-text;
        font-family: $font-text;
    }
 }