//footbar
.container-foot{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    background-image: linear-gradient(to right#9c9585, $header-bcgr);
    background-color: $header-bcgr;  
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1000;
}
.box-5{
    display: flex;
    align-items: center;
    width: 100%;    
    justify-content: space-between;
}
.box-5 div{
    color:  $color-sm-text;
    font-family: $font-btn;
}
.impossible{
    display: flex;
    flex-wrap: wrap;   
    border-bottom:2px solid $border;
    padding-bottom: 20px;
    margin-left: 40px;
}
.means{
    display: flex;
    flex-wrap: wrap;   
    border-left:2px solid $border;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.found{
    display: flex;
    flex-wrap: wrap; 
    border-top:2px solid $border;
    padding-top: 20px;
    width: 90px;
    text-align: center;
}
.solution{
    display: flex;
    flex-wrap: wrap;   
    border-right:2px solid $border;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.yet{
    display: flex;
    flex-wrap: wrap;
    border-bottom:2px solid $border;
    margin-right: 40px;
    padding-bottom: 20px;
    padding-left:20px;
    padding-right: 20px;
}
.impossible:hover, .means:hover, .found:hover, .solution:hover, .yet:hover {
    color: $header-btn-hv;
    text-shadow: 2px 2px 4px #000000;
  }
  @media screen and (max-width: 320px){
    .container-foot{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        background-image: linear-gradient(to right#9c9585, $header-bcgr);
        background-color: $header-bcgr;  
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .box-5{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        color:  $color-sm-text;
        font-family: $font-btn;
    }
    .box-5 div{
        color:  $color-sm-text;
        font-family: $font-btn;
        margin-top: 50px;
    }
    
  }