
* {
    margin: 0;
    padding: 0;
}
head{
    min-height: 100%;
}
body{
    padding-top: 151px;
    min-height: 100%;
}

//navigatiebalk
header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 151px;
    color: white;
    background-color: $header-bcgr;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 0;
    
}
.name{
    width: 50%;
    font-size: 5rem;
    padding-top:90px;
    margin-left: 40px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 40px;
    padding-bottom: 60px; 
  
    li{
        list-style-type: none;
        margin-left: 60px;
        }
        a{
        color: $header-btn;
        text-decoration: none; 
        font-family: $font-btn;
        }
    a:hover {
        color: $header-btn-hv;
        }
}