//middenpad
.container-middle{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 360px;
    color: $prtflo-color;
    justify-content: center;
    align-items: center;
    background-image: url("../img/achtergrond.jpg");
    background-position: center;
    background-size: cover;
}
.middel-prtflo{
    font-size: 5rem;
    font-family: $prtflo;
}
.middel-prtflo span{
    display: none;
  }
.middel-prtflo:hover span{
    display: inline;
}

