* {
    margin: 0;
    padding: 0;
}
.container-head{
    display: flex;
    flex-wrap: wrap;
    border: 1px solide green;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
}
//navigatiebalk
.container-nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 151px;
    color: #E4C6BE;;
    background-color: #4B483D;
    justify-content: space-between;
    align-items: flex-end;
}
.name{
    border: 1px solid red;
    width: 40%;
    font-size: 4rem;
    padding-bottom: 25px;
    padding-left: 20px;
    }
.buttons{
    display: flex;
    flex-wrap: wrap;
    width: 48%;
    justify-content: space-between;
    background-color: darkgrey;
    padding-right: 20px; 
  
}
//middenpad
.container-middle{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid red;
    width: 100%;
    height: 151px;
    color: #4B483D;
    justify-content: center;
    align-items: center;
   
}
.middel-prtflo{
    font-size: 4rem;
}
//footbar
.container-foot{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid brown;
    width: 100%;
    height: 151px;
    color: white;
    background-color: #4B483D;
    justify-content: space-evenly;
    align-items: center; 
    
}
.box-5{
    display: flex;
    flex-direction: row; 
    
}
.impossible{
    display: flex;
    flex-wrap: wrap;   
    border-bottom:2px solid #E4C6BE;
    background-color: grey;
    width: 100px;
    height: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.means{
    display: flex;
    flex-wrap: wrap;   
    border-left:2px solid #E4C6BE;;
    background-color: grey;
    width: 100px;
    height: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.found{
    display: flex;
    flex-wrap: wrap;  
    border-top:2px solid #E4C6BE;;
    background-color: grey;
    width: 100px;
    height: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.solution{
    display: flex;
    flex-wrap: wrap;   
    border-right:2px solid #E4C6BE;;
    background-color: grey;
    width: 100px;
    height: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.yet{
    display: flex;
    flex-wrap: wrap;
    border-bottom:2px solid #E4C6BE;;
    background-color: grey;
    width: 100px;
    height: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
