//middenpad
.container-middle{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 440px;;
    color: $color-xl-text;
    justify-content: center;
    align-items: center;
}
.middel-prtflo{
    font-size: 5rem;
    font-family: $prtflo;
}
.middel-prtflo span{
    display: none;
  }
.middel-prtflo:hover span{
    display: inline;
}

