//begin middle-portfolio
//eeste kader
//derde kader
.columns-portfolio-1{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid $border;
}
.photo-column-portfolio-1{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 35px;
    border-radius: 15px 50px;
    background: $header-bcgr;
    background-image: linear-gradient(to right,$header-bcgr, #9c9585);
    padding: 20px; 
    width: 250px;
    height: 250px; 
    margin-bottom: 20px;
    margin-top: 20px;
    
    a img{
      padding-left: 28px;
      padding-top: 28px;
      border-radius: 15px;
    }
}
.text-column-portfolio-1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 60%;
    padding-left: 50px;
    align-items: flex-end;
    font-family: $font-text;
    p{
        font-size: 1rem;
        text-align: left;
        margin-right: 20px;
        padding-right: 30px;
        padding-bottom: 30px;
        color: $color-m-text;
        font-family: $font-text;
    }
}
//tweede kader
.columns-portfolio-2{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid $border;
}
.text-column-portfolio-2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 60%;
    padding-left: 50px;
    align-items: flex-end;
    font-family: $font-text;
    p{
        font-size: 1rem;
        text-align: left;
        margin-right: 20px;
        padding-right: 30px;
        padding-bottom: 30px;
        color: $color-m-text;
        font-family: $font-text;
    }
}
.photo-column-portfolio-2{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 10px;
    border-radius: 15px 50px;
    background: #9c9585;
    background-image: linear-gradient(to right,#9c9585, #4B483D);
    padding: 20px; 
    width: 250px;
    height: 250px; 
    margin-bottom: 20px;
    margin-top: 20px;
    
    a img{
   padding-left: 28px;
   padding-top: 28px;
      
    }
}

