// header & footer
$header-bg: #FFFFFF; //kleur grote woorden
$color-sm-text: #E4C6BE; //kleur van de kleine tekst in gekleurde balken
$header-btn: #E4C6BE; //knop
$header-btn-hv: #FFFFFF; //hover op knop
$header-bcgr: #4B483D; //backgroundcolor voor header en footer
$border: #E4C6BE;
$font-btn: 'Metamorphous', cursive; //font: knoppen, quote, tekst

//middle
$color-xl-text: #4B483D; //kleur grote tekst op middle pagina
$color-m-text:  #4B483D; //kleur gewone tekst op middle pagina

